{% extends "layout.html" %}
{% block body %}
<p>{{ info.msg }}</p>
<form action="/alumno/{{ info.aid }}/editar_adeudo/{{ info.id }}" method="POST">
    <table>
   <tr>
       <td>Monto</td>
       <td><input type="text" name="monto" value="{{info.data.1}}"></td>
   </tr>
   <tr>
       <td>Forma de Pago</td>
       <td><input type="text" name="metodo" value="{{info.data.2}}"></td>
   </tr>
   <tr>
       <td>Concepto</td>
       <td><input type="text" name="concepto" value="{{info.data.3}}"></td>
   </tr>
   <tr>
       <td>Fecha Límite</td>
       <td><input type="date" name="fechalimite" value="{{info.data.4}}"></td>
   </tr>
   <tr>
       <td>PAGADO</td>
       <td><select id="pagadoselect" name="pagado">
 {% if info.data.5 == 0 %}
 <option value="0" selected="selected">Sin pagar</option>
 <option value="1">Pagado</option>
 {% endif %}
 {% if info.data.5 == 1 %}
 <option value="0" >Sin pagar</option>
 <option value="1" selected="selected">Pagado</option>
 {% endif %}
</select></td>
   </tr>
</table>

<button type="submit" id="botonactualizar">Actualizar</button>
 </form>
 <a href='/alumno/{{ info.aid }}/eliminar_adeudo/{{ info.data.0 }}' id="botonactualizar">Eliminar</a>
{% endblock %}
