<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Centro Escolar Del Valle Del Mezquital</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        <nav id="navconteiner">
            <a href="/" id="alayout"><img src="/static/css/home.png " id="iniciopng"></a>
            <div id="tituloescuela">Centro Escolar Del Valle Del Mezquital</div>
            <a href="/logout" id="alayout"><img src="/static/css/logout.png" id="logoutpng"></a>
        </nav>
        <div class="container-body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
