
{% extends "layout.html" %}
{% block body %}
<div class="login">
    <img src="/static/css/valledelmezquital.jpg" alt="logo" id="logo">
    <form action="{{ url_for('login') }}" method="post">
        
        <input type="text" name="username" placeholder="Usuario" id="username" required>
        <br>
        <input type="password" name="password" placeholder="Contraseña" id="password" required>
        <br>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Ingresar" id="ok">
    </form>
</div>
{% endblock %}
