{% extends "layout.html" %}
{% block body %}
<section>
    <article class="mat">
        <h2>Busqueda de</h2>
        <p>{{info.query}}</p>
    </article>
    <article class="mat">
        <h2>Numero de alumnos:</h2>
        <p>{{info.num}}</p>
    </article>
    <article class="mat"></article>
</section>
<table>
<thead>
  <tr>
      <td>Matrícula</td>
      <td>Nombre</td>
      <td>Adeudo</td>
      <td></td>
  </tr>
</thead>
<tbody>
  {% for student in info.students %}
  <tr>
      <td>{{student.1}}</td>
      <td>{{student.2}}</td>
      <td>{{student.3}}</td>
      <td><a href="/alumno/{{student.0}}">Ver</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
