{% extends "layout.html" %}
{% block body %}  
<table>
    <thead>
     <tr class="nohover">
     <th colspan="3" rowspan="1">Nombre: {{ info.student.name }}</th>
     <th colspan="2" rowspan="1" id="centeradeudo">Contactos</th>
 </tr>
 </thead>
  <tr class="nohover">
     <th colspan="2"  rowspan="2">Grupo: </th>
     <th rowspan="2">{{ info.student.group }}</th>
      <th>Contacto 1</th>
      <th>Contacto2</th>
  </tr>
 <tr class="nohover">
     
     <td>Nombre: {{info.acon.0 }}</td>
     <td>Nombre: {{info.bcon.0 }}</td>
     
 </tr>
 <tr class="nohover">
     <th colspan="2"  rowspan="2">Edad: </th>
     <th rowspan="2">{{ info.student.age }}</th>
      <td>Parentesco: {{info.acon.1 }}</td>
      <td>Parentesco: {{info.bcon.1 }}</td>
  </tr>
 <tr>
     
     <td>Correo: {{info.acon.2 }}</td>
     <td>Correo: {{info.bcon.2 }}</td>
     
 </tr>
 <tr class="nohover">
     <th colspan="2"  rowspan="2">Beca: </th>
     <th rowspan="2">{{ info.student.beca }}</th>
      <td>Telefono: {{info.acon.3 }}</td>
      <td>Telefono: {{info.bcon.3 }}</td>
  </tr>
 <tr class="nohover">
     
     <td>Direccion: {{info.acon.4 }}</td>
     <td>Direccion: {{info.bcon.4 }}</td>
     
 </tr>
</table>
 <a href="/editar_alumno/{{info.student_id}}">Editar Alumno</a>
 <a href="/grupo/{{ info.student.group_id }}/eliminar_alumno/{{ info.student_id }}">Eliminar Alumno</a>
 <a href="/alumno/{{info.student_id}}/nuevo_adeudo">Nuevo Adeudo</a>
 <table id="tablaadeudo">
    <thead>
       <tr>
           <th colspan="6" id="centeradeudo">Adeudos</th>
       </tr> 
    </thead>
     <thead>
         <tr>
             <th>Monto</th>
             <th>Metodo</th>
             <th>Concepto</th>
             <th>Fecha Limite</th>
             <th colspan="2">Estado</th>
         </tr>
     </thead>
     <tbody>
         {% for tran in info.trans %}
         <tr>
             <td>{{tran.monto}}</td>
             <td>{{tran.metodo}}</td>
             <td>{{tran.concepto}}</td>
             <td>{{tran.limite}}</td>
             <td>{{tran.noticia}}</td>
             <td>
                 <a href="/alumno/{{ info.student_id }}/editar_adeudo/{{tran.id}}">Editar</a>
             </td>
         </tr>
         {% endfor %}
     </tbody>
 </table>
{% endblock %}

